body{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    width: 600px;
}
th, td{
    padding: 7px;
}
th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    letter-spacing: 0.1em;
}
.alternado{
    background-color: #efefef;
}
.number{
    text-align: right;
}
tr:hover{
    background-color: #c3e6e5;
}