.caixa{
    width: 300px;
    height: 300px;
    padding: 6px;
    margin: 10px;
    background-color: #009670;
    box-shadow: 20px 20px 20px 40px black;
}
.caixa h1{
    color: white;
    text-shadow: 20px 20px 5px black;
    /* primeiro valor e horizontal e o segundo vertical */
}